<div mat-dialog-content>
    <h3>{{ datos.encabezado }}</h3>
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Nombre de la Selección</mat-label>
        <input matInput [(ngModel)]="datos.seleccion.nombre">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Entidad rectora</mat-label>
        <input matInput [(ngModel)]="datos.seleccion.entidad">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="datos.seleccion">Aceptar</button>
    <button mat-stroked-button color="primary" (click)="cerrar()">Cerrar</button>
</div>